.budgets-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.budget-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: rgba(255, 250, 247, 0.699);
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  margin: 100px;
  color: rgb(92, 138, 141);
  font-size: 28px;
  width: 400px;
  height: 500px;
}

.updateButton {
  border: rgb(92, 138, 141);
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(92, 138, 141);
  font-size: 20px;
  padding: 10px;
}
