.new-transaction-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(92, 138, 141);
}
.transaction-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 250, 247);
  border-radius: 10px;
  font-size: 20px;
  height: 40vh;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.transaction-text-container {
  display: flex;
}

.add-transaction-button {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(92, 138, 141);
  font-size: 20px;
  padding: 10px;
}

.transactions-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

select,
input {
  margin: 8px;
  color: rgb(92, 138, 141);
  border: solid rgb(92, 138, 141) 2px;
  border-radius: 5px;
}

ul {
  margin: 0;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
