.new-transaction-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.transaction-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(207, 233, 255);
  border-radius: 10px;
  font-size: 20px;
  height: 30vh;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}
.transaction-text-container {
  display: flex;
}

.add-transaction-button {
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.transactions-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.transaction-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

select,
input {
  margin: 7px;
}

p {
  margin: 0;
}
