/* Base styles */
.App {
  text-align: center;
  position: relative;
  color: #ff545c;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: #000;
  margin: 40px;
}

.scroll {
  margin-bottom: 200px;
}

/* Loader styles */
.loader {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: fixed;
  top: 40%;
  right: 48%;
  animation: rotate 1s linear infinite;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 1s linear infinite;
}
.footer {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  position: fixed;
  bottom: 5px;
  left: 0;
  right: 0;
  background-color: rgba(7, 67, 82, 0.116);
}

.footer a {
  color: rgb(83, 83, 83);
}

/* Keyframe animations */
@keyframes rotate {
  100% {
    transform: rotate(240deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

@media only screen and (max-width: 480px) {
  .footer {
    font-size: 15px;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    font-size: 15px;
  }
}
