.landing-page-intro {
  position: fixed;
  top: 30%;
  right: 0;
  left: 0;
  color: rgb(255, 255, 255);
  background-color: rgba(247, 247, 247, 0.356);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.text {
  color: rgb(83, 83, 83);
  text-shadow: 5px 1px 2px rgb(255, 255, 255);
  font-size: 40px;
}

.expense-text {
  color: rgb(83, 83, 83);
  text-shadow: 5px 1px 2px rgb(255, 255, 255);
  font-size: 100px;
  margin: 20px 50px;
}
span {
  margin: 0;
  padding: 0;
  text-align: center;
}

#get-started-button {
  border: white;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.534);
  font-size: 20px;
  width: 20%;
  padding: 10px;
}

@media only screen and (max-width: 1024px) {
  .text {
    font-size: 40px;
  }
  .expense-text {
    font-size: 65px;
  }
}
@media only screen and (max-width: 768px) {
  .landing-page-intro {
    top: 20%;
    right: 0;
  }

  .text {
    font-size: 30px;
  }
  .expense-text {
    font-size: 55px;
    padding: 20px;
    margin: 10px;
  }

  #get-started-button {
    font-size: 30px;
    width: 50%;
  }
}
@media only screen and (max-width: 570px) {
  .landing-page-intro {
    top: 20%;
  }

  .text {
    font-size: 27px;
  }
  .expense-text {
    font-size: 40px;
    padding: 20px;
    margin: 10px;
  }

  #get-started-button {
    font-size: 30px;
    width: 50%;
  }
}
@media only screen and (max-width: 480px) {
  .landing-page-intro {
    top: 20%;
    bottom: 30%;
  }

  .text {
    font-size: 25px;
  }
  .expense-text {
    font-size: 35px;
    padding: 20px;
    margin: 10px;
  }
  .landing-page-intro p {
    padding: 10px;
  }
  #get-started-button {
    font-size: 30px;
    width: 50%;
  }
}
