.landing-page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.landing-page-intro {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  min-height: 600px;
  align-items: center;
  color: rgb(255, 255, 255);
}

.text {
  text-align: center;
  margin: 10px;
  font-size: 60px;
}

#get-started-button {
  border: white;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.534);
  font-size: 40px;
  width: 20%;
  padding: 10px;
}
