.nav {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px 100px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
  font-size: 30px;
}

a {
  margin-left: 15px;
  color: azure;
}

#logo {
  border-radius: 100px;
  height: 150px;
}

#new-transaction-button {
  margin-left: 510px;
  border: white;
  background-color: transparent;
  color: azure;
  border: solid rgb(255, 255, 255);
}
