.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 30px;
  width: 100vw;
  margin: 10px 20px 10px;
  background-color: rgba(7, 67, 82, 0.116);
}

a {
  margin-left: 15px;
  color: azure;
}

#logo {
  border-radius: 100px;
  height: 120px;
}

#new-transaction-button {
  border: white;
  background-color: transparent;
  color: azure;
  border: solid rgb(255, 255, 255);
}
