* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Poppins;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("img/abacusBackground.jpeg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  margin: 10px;
  text-decoration: none;
  color: azure;
}

.abacus-logo {
  font-size: 30px;
  text-shadow: rgb(0, 0, 0) 1px 0 5px;
}
